/*ski_frame_07.css*/
#wrap{width:960px; height:auto; margin:auto;}
#headBox{width:200px; height:100%; position:fixed; z-index:500; float:left; background-color:#8ac;}
#nav{width:100%; height:100%;}
h1{width:200px; height:200px; background-color:#cc5;}
#nav>ul{width:100%; height:400px; margin-top:50px;}
#nav>ul>li{width:100%; height:24px; margin-bottom:50px; background-color:#998;}
#nav>ul>li:last-child{margin-bottom:0;}
/*--------------------*/
.tape{width:760px; height:auto; float:right;}
/*-----------------------------*/
#bannerBox{width:100%; height:728px; background-color:#6ca;}
.board{width:100%; height:300px; background-color:inherit; padding-top:100px; box-sizing:border-box; box-sizing:border-box;}
.logo2{width:104px; height:104px; background-color:#87c; margin-left:328px;}
.lnb{width:100%; height:160px; background-color:#67a; padding-top:27px; box-sizing:border-box;} 
.lnb>h2{width:218px; height:44px; background-color:#c8c; margin-left:271px;}
.lnb>ul{width:710px; height:30px; margin-top:50px; margin-left:25px;}
.lnb>ul>li{width:140px; height:100%; float:left; background-color:#fff; margin-right:50px;}
.lnb>ul>li:nth-child(1){margin-left:0;}
.lnb>ul>li:nth-child(4){margin-right:0;}
.background{width:100%; height:270px; background-color:#f20;}
#lnbBox{width:100%; height:510px; background-color:#78b;}
.info{width:100%; height:300px; background-color:#f90;}
.backdrop{width:100%; height:210px; background-color:#ff00ff;}
#contentBox{width:100%; height:800px; background-color:#65e;}
#footBox{width:100%; height:222px; background-color:#90a;}