/*ski_frame_01.css*/

/*960px*/
#wrap{width:960px; height:auto; min-height:1000px; margin:auto;}
#headBox{width:100%; height:490px;}
.event{width:100%; height:400px; background-color:#00f; padding-top:1rem; box-sizing:border-box; position:relative;}
h1{width:281px; height:90px; background-color:#fff; margin-left:10px;}
.mouse_down{width:60px; height:60px; background-color:#fff; position:absolute; bottom:50px; left:50%; margin-left:-30px; z-index:1;}
.event>ul{width:350px;height:40px; position:absolute; right:0; bottom:14px;}
.event>ul>li{width:40px; height:40px;float:left; margin-right:30px; background-color:#333;}
.event>ul>li:last-child{margin-right:0;}

.nav{width:100%; height:90px; background-color:#0ac;}
#bannerBox{width:100%; height:300px; background-color:#07c; position:relative;}
.detail{width:211px; height:53px; border:3px solid #fff; border-radius:15px; margin-left:10px; position:absolute; top:211px;}
#lnbBox{width:100%; height:480px; position:relative;}
.quick{width:170px; height:100%; float:left; position:relative; z-index: 100;}
.quick>ul{width:100%; height:100%; position:relative; z-index:200;}
.quick>ul>li{width:100%; height:16.667%; background-color:#89c;}
.picture{width:540px; height:480px; position:absolute; top:0; left:100%; background-color:#8cc; z-index:100;}
.lbBox{width:790px; height:100%; background-color:#66c; float:left;} 
#contentBox{width:100%; height:453px;}
.vidio{width:100%; height:206px; background-color:#9ca;} 
.accordion{width:100%; height:247px;}
.accordion>ul{width:100%; height:100%; position:relative;}
.accordion>ul>li{width:90px; height:100%; position:relative; float:left; marign-right:0;}
.accordion>ul>li:nth-child(1){background-color:#06d; position:absolute; z-index:100;}
.accordion>ul>li:nth-child(2){background-color:#8da; position:absolute; left:5%; z-index:200;}
.accordion>ul>li:nth-child(3){background-color:#00ff00; position:absolute;left:10%; z-index:300;}
.accordion>ul>li:nth-child(4){background-color:#0f0f0f; position:absolute; left:15%; z-index:400;}
.accordion>ul>li:nth-child(5){width:750px; background-color:#77b; position:absolute; right:0; z-index:500;}

#footBox{width:100%; height:194px; background-color:#333;}

/*1366px*/
/*#wrap{width:1366px; height:auto; min-height:1000px; margin: auto;}
#headBox{width:100%; height:490px;}
.event{width:100%; height:400px; background-color:#00f; padding-top:1rem; box-sizing:border-box; position:relative;}
h1{width:281px; height:90px; background-color:#fff; margin-left:10px;}
.mouse_down{width:60px; height:60px; background-color:#fff; position:absolute; bottom:50px; left:50%; margin-left:-30px; z-index:1;}
.event>ul{width:350px;height:40px; position:absolute; right:0; bottom:14px;}
.event>ul>li{width:40px; height:40px;float:left; margin-right:30px; background-color:#333;}
.event>ul>li:last-child{margin-right:0;}

.nav{width:100%; height:90px; background-color:#0ac;}
#bannerBox{width:100%; height:300px; background-color:#07c; position:relative;}
.detail{width:299px; height:53px; border:3px solid #fff; border-radius:15px; margin-left:10px; position:absolute; top:211px;}
#lnbBox{width:100%; height:480px; position:relative;}
.quick{width:249px; height:100%; float:left; position:relative; z-index: 200;}
.quick>ul{width:100%; height:100%; position:relative; z-index:300;}
.quick>ul>li{width:100%; height:16.667%; background-color:#89c;}
.picture{width:768px; height:480px; position:absolute; top:0; left:100%; background-color:#8cc; z-index:200;}
.lbBox{width:85%; height:100%; background-color:#66c; float:left; position:absolute; z-index:100; right:0;} 
#contentBox{width:100%; height:453px;}
.vidio{width:100%; height:206px; background-color:#9ca; position:relative; z-index:100;} 
.accordion{width:100%; height:247px;}
.accordion>ul{width:100%; height:100%; position:relative;}
.accordion>ul>li{width:127px; height:100%; position:relative; float:left; marign-right:0;}
.accordion>ul>li:nth-child(1){background-color:#06d; position:absolute; z-index:100;}
.accordion>ul>li:nth-child(2){background-color:#8da; position:absolute; left:5%; z-index:200;}
.accordion>ul>li:nth-child(3){background-color:#00ff00; position:absolute;left:10%; z-index:300;}
.accordion>ul>li:nth-child(4){background-color:#0f0f0f; position:absolute; left:15%; z-index:400;}
.accordion>ul>li:nth-child(5){width:80%; background-color:#77b; position:absolute; left:20%; z-index:500;}

#footBox{width:100%; height:194px; background-color:rgba(51,51,51,0.9;}*/