/*photo.css*/


/*#content*/
#content{width:960px; height:auto; margin:auto;}



/*#head*/
#head_box{width:200px; height:100%; position:fixed; z-index:500;}
#nav{width:200px; height:100%; position:fixed; z-index:1000; text-indent: 0.5rem; background-color:#fff;}
h1{width:100%; height:200px;margin-left:-10px;}
#nav>ul{width:100%; height:auto; margin-top:50px;}
#nav>ul>li{width:100%; height:auto; margin-bottom:50px; box-sizing: border-box; padding-bottom: 0.2rem;}
#nav>ul>li:last-child{margin-bottom: 0;}
#nav>ul>li.active{border-bottom: 2px solid  #007695;}
#nav>ul>li>a{display: block; width:100%; height:100%; color:#007695;  font-size:26px;}
#nav>ul>li>a:active{font-weight:bold;}

/*tabMenu*/
.guide_nar{width:760px; height:70%; min-height:800px;position:absolute; top:0; left:100%; z-index:1500; display: none;}
.guide_nar.active{ display: block;}
.guide_nar>div{width:760px; height:100%; box-sizing:border-box; border:3px solid #fff; display: none;}
.guide_nar>div.active{display: block;}
.guide_nar>div>ul{width:300px; height:400px; margin-top:190px; margin-left:50px;}
.guide_nar>div>ul>li{width:100%; height:32px;  margin-bottom:50px; }
.guide_nar>div>ul>li>a{font-size:28px; color:#fff; font-weight:bold;}
.guide_nar>div>ul>li:last-child{margin-bottom:0;}
.guide_nar>div>ul>li>a:focus{border:2px solid #fff;}
.office{background-color:rgba(102,45,140,0.9); display:block;}
.snow_sport{background-color:rgba(0,118,148,0.9);}
.media_content{background-color:rgba(102,45,140,0.9);}
.serivce{background-color:rgba(0,118,148,0.9);}
.sport{background-color:rgba(0,118,148,0.9);}
.player{background-color:rgba(102,45,140,0.9);}

.wrap{width:760px; height:auto; float:right;}	

/*.background01*/
.background{width:100%; height:475px; position:fixed; top:0; z-index:-100;}

/*#lnbBox*/
#lnb_box{width:100%; height:162px; background-color:rgba(102,45,140,0.9); margin-top:313px;}
#lnb_box>h2{width:100%; height:30px; font-size:26px; font-weight:26px; color:#fff; text-align:center;}
.lnb{width:750px; height:26px;}
.lnb>ul{width:100%; height:100%; margin-top:100px; margin-left:10px;}
.lnb>ul>li{width:auto; height:100%; float:left;margin-right:50px;} 
.lnb>ul>li:last-child{margin-right:0;}
.lnb>ul>li>a{width:100%; height:100%;  font-size:24px; color:#fff;}
.lnb>ul>li>a:hover{cursor:pointer;}
.lnb>ul>li>a:active{font-weight:bold;}

/*#new_issue*/
#new_issue{width:100%; height:356px; background-color:#fff; padding-top:30px; box-sizing:border-box;}
#new_issue>h3{width:141px; height:24px; font-size:22px; color:#666;  text-indent:15px;  font-weight:normal;}
#new_issue>ul{width:682px; height:200px; margin-top:50px; margin-left:40px;}
#new_issue>ul>li{width:200px; height:200px; overflow:hidden; float:left;}
#new_issue>ul>li:nth-child(2){margin-left:40px; margin-right:40px;}
#new_issue>ul>li>a{display: block; width: 100%; height: 100%; position:relative;}
#new_issue>ul>li>a:before{content:" "; display:block; width: 100%; height: 100%; position:absolute; z-index:100; top:0; left:0; background-color:rgba(0,0,0,0); transition:all 300ms ease;}
#new_issue>ul>li>a:hover:before{background-color:rgba(102,102,102,0.9);}
#new_issue>ul>li>a:after{content:"\f002"; font-family:fontAwesome;  position: absolute; 
				width: 100%; height: 100%; text-align: center; line-height:200px; top: 0; left: 0; font-size:3rem; color:transparent; z-index: 100; transition:all 300ms ease;}
#new_issue>ul>li>a:hover:after{color:#fff;}
#new_issue>ul>li>a>img{max-width:100%; height:auto; min-height:200px}

/*background02*/
.background02{width:100%; height:509px; background-image:url(../../../img/content/photo_background02.jpg); background-attachment: fixed; background-position:top; background-size:100%; background-rep
	eat:no-repeat;}

/*#contentBox*/
#content_box{width:100%; height:970px; background-color:#fff; padding-top:30px; box-sizing:border-box; position:relative;}
#content_box>h3{width:87px; height:24px; font-size:22px; color:#666; text-indent:15px; font-weight:normal;}
#content_box>ul{width:700px; height:752px; margin-left:15px;}
#content_box>ul>li{width:200px; height:200px; float:left; margin-top:50px; margin-right:30px; overflow:hidden;}
#content_box>ul>li>a{display:block; width:100%; height:100%; position:relative;}
#content_box>ul>li>a:before{content:" "; width: 100%; height: 100%; display:block; position:absolute; background-color:transparent; top:0; left:0; z-index:100; transition:all 300ms ease;}
#content_box>ul>li>a:hover:before{background-color:rgba(102,102,102,0.9);}
#content_box>ul>li>a:after{content:"\f002"; font-family: fontAwesome; position:absolute; width:100%; height:100%; font-size:3rem; color:transparent; text-align:center; line-height:200px; z-index:100; top:0; left:0; transition:all 300ms ease;}
 #content_box>ul>li>a:hover:after{color:#fff;}
#content_box>ul>li>a>img{max-width:100%; height:auto; min-height:200px;}
.moreshow{width:210px; height:28px; font-size:18px;  text-indent:15px; line-height: 26px; background-color:transparent; position:absolute; top:95%;}
.moreshow:after{content:">"; margin-left:10px; font-size:26px; color:#666; font-weight:900; line-height:28px;}
.moreshow:focus{border:2px solid #666;}
.morwshow:hover{cursor:pointer;}
.morwshow:focus{border:1px solid #666;}

/*#footBox*/
#foot_box{width:100%; height:222px; background-color:#666; padding-top:10px; box-sizing:border-box; box-sizing:border-box; position:relative;}
.foot_nav{width: 100%; height: 20px; background-color:inherit;}
.foot_nav>ul{width: 100%; height: 100%; margin-left:50px;}
.foot_nav>ul>li{float:left; padding: 0.3rem 1rem; position:relative;}
.foot_nav>ul>li:last-child:after{display: none;}
.foot_nav>ul>li:after{content:" "; display:inline-block; position: absolute; top:20%; right:-1px; height:60%; border-right:2px solid  #aaa;}
.foot_nav>ul>li>a{font-size: 1rem; color:#fff;}
.info{width:100%; height:60px; margin-left:55px;}
.domicile{width:100%; height:20px; margin-top:10px; margin-left:1rem;}
.domicile span{font-size:16px; color:#fff; text-align:left; margin-right:18px;}
.domicile span:nth-child(1){margin-left:-5px;}
.info>dl{width:auto; min-width:110px; float:left; height:18px; color:#fff; margin-left:10px; margin-right:30px;}
.info>dl>dt{width:25px; height:100%; float:left; margin-right:10px;}
.info>dl>dd{width:121px; height:100%; float:left;}
#foot_box>p{width:292px; height:20px; color:#fff; position:absolute; bottom:0; margin-left:50px;}
.ksa_sns{width:180px; height:50px; float:right; margin-right:20px; margin-top:40px;}
.ksa_sns>li{width:50px; height:50px; float:left; background: transparent; margin-right:10px;}
.ksa_sns>li>a{width:100%; height:100%; display:inline-block;}
