/*mainpages.css*/

/*960layout*/
#ksa{width:960px;height:auto;  margin:auto;}
/*ski_Nav(header)*/
#ski_nav{width:200px; height:100%; position:fixed; z-index:1000; text-indent: 0.5rem; background-color:#fff;}
h1{width:100%; height:200px;margin-left:-10px;}
#ski_nav>ul{width:100%; height:auto; margin-top:50px;}
#ski_nav>ul>li{width:100%; height:auto; margin-bottom:50px; box-sizing: border-box; padding-bottom: 0.2rem;}
#ski_nav>ul>li:last-child{margin-bottom: 0;}
#ski_nav>ul>li.active{border-bottom: 2px solid  #007695;}
#ski_nav>ul>li>a{display: block; width:100%; height:100%; color:#007695;  font-size:26px;}
#ski_nav>ul>li>a:active{font-weight:bold;}

/*tabMenu*/
.guide_nar{width:760px; height:70%; min-height:800px;position:absolute; top:0; left:100%; z-index:1500; display: none;}
.guide_nar.active{ display: block;}
.guide_nar>div{width:760px; height:100%; box-sizing:border-box; border:3px solid #fff; display: none;}
.guide_nar>div.active{display: block;}
.guide_nar>div>ul{width:300px; height:400px; margin-top:190px; margin-left:50px;}
.guide_nar>div>ul>li{width:100%; height:32px;  margin-bottom:50px; }
.guide_nar>div>ul>li>a{font-size:28px; color:#fff; font-weight:bold;}
.guide_nar>div>ul>li:last-child{margin-bottom:0;}
.guide_nar>div>ul>li>a:focus{border:2px solid #fff;}
.office{background-color:rgba(102,45,140,0.9); display:block;}
.snow_sport{background-color:rgba(0,118,148,0.9);}
.media_content{background-color:rgba(102,45,140,0.9);}
.serivce{background-color:rgba(0,118,148,0.9);}
.sport{background-color:rgba(0,118,148,0.9);}
.player{background-color:rgba(102,45,140,0.9);}

 


/*.sport banner~footer*/
.wrap{width:760px; height:auto; float:right;}
/*#bannerBox*/
#banner_box{width:100%; height:800px; overflow:hidden; position: relative;
margin-bottom:200px;}
.banner_wrap{width:100%; height:100%; }
.banner_wrap>ul{width:100%; height:100%; position: relative;}
.banner_wrap>ul>li{width:100%; height:100%; position:absolute; top: 0; left: 0;  background-repeat:no-repeat; background-size:100%;}
.banner_wrap>ul>li.active{z-index: 500;}
.banner_01{background-image:url(../../../img/pages/ski_Nav_01.jpg); z-index:300;}
.banner_02{background-image:url(../../../img/pages/ski_Nav_02.jpg); z-index:280;}
.banner_03{background-image:url(../../../img/pages/ski_Nav_03.jpg); z-index:260;}
.banner_04{background-image:url(../../../img/pages/ski_Nav_04.jpg); z-index:240;}
.banner_05{background-image:url(../../../img/pages/ski_Nav_05.jpg); z-index:220;}
.banner_06{background-image:url(../../../img/pages/ski_Nav_06.jpg); z-index:200;}

.banner_indicator{width:430px; height:30px; position: absolute;
		right: 1rem; bottom: 0.5em; z-index:700;}

.banner_indicator>ul{width:100%; height:100%;}
.banner_indicator>ul>li{width:30px; height:30px; border-radius:100%; background-color:#fff; margin-right:50px; float:left; overflow: hidden;}
.banner_indicator>ul>li:last-child{margin-right:0;}

.banner_indicator>ul>li>button{width: 100%; height: 100%; cursor:pointer; background-color:inherit;}

.banner_indicator>ul>li.active>button{background-color:#007695;}
.banner_indicator>ul>li>button:focus{background-color:#007695;}
.banner_indicator>ul>li>button:hover{background-color:#007695;}
.banner_indicator>ul>li>button:active{background-color:#007695;}
 
/*#allways_Box(banner)*/
#allways_box{width:100%; height:780px;  overflow:hidden; position:relative; z-index:100; margin-bottom:200px;}



#allways_box>div{width:100%; height:100%; float:left; position:relative;}
#allways_box>div>img{max-width:100%; height:auto; min-height:780px;}
#allways_box>div>button{width:80px; height:80px; position:absolute; top:50%; margin-top:-40px; background-color:transparent;}
#allways_box>div>button:hover{cursor:pointer;}
#allways_box>div>button>i{width:100%; height:100%; font-size:5rem; color:#007695;}
.lesson>.more{width: 258px; height: 60px; position:absolute; z-index:300; top:50%;  margin-top:-54px; left:50%; margin-left:-180px;}
.lesson>.more:hover{cursor:pointer;}
.lesson>.more>a{width:100%; height:100%; background-color:#007695; position:absolute;
 font-size:1.25rem; color:#fff; text-align:center;  line-height:60px;}

.reserach>.part{width:258px; height:60px; position:absolute; z-index:300; top:39%; right:0; color:#007695;}
.reserach>.part>a{width:100%; height:100%; border-radius:30px; background-color:#fff; position:absolute; color:#007695;
	 font-size:1.25rem; text-align:center; line-height:60px; font-weight:bold}
.reserach>.part:hover{cursor:pointer;}
.lesson>.rbtn{right:0;}
.reserach>.lbtn{left:0;}

/*#contentBox*/
#content_box{width:100%; height:900px; margin-bottom:200px;/* overflow:hidden;*/ position:relative;}
.content{width:500%; height:100%; clear:both;}
.content>div{height:100%; float:left;}
.content>{width:54px; height:54px; background-color:rgba(255,255,255,0.7); position:absolute; z-index:300; top:50%; margin-top:-27px; right:0;}

.content>div>p{width:96px; height:43px; font-size:30px; font-weight:bold; color:#fff; margin-top:30px; margin-left:50px;}

/*.vidio*/

.video{width:20%;background-color:#662d8d;}


.content_video{width:568px; height:318px; margin-top:55px; margin-left:50px; position:relative;}
.content_video>video{width: 100%;}
.content_video>ul{width:566px; height:400px; margin-top:40px;}
.content_video>ul>li{width:100%; height:115px; background-color:transparent; margin-bottom:20px; overflow:hidden; float:left;}
.content_video>ul>li:last-child{margin-bottom:0;}
.content_video>ul>li>a{display:block; width:100%; height:100%; box-sizing: border-box;padding:10px;}
.content_video>ul>li>a>div{width:95px; height:95px; border-radius:100%; overflow:hidden; float:left;
						border:5px solid transparent; box-sizing:border-box;}
.content_video>ul>li>a>div:active{border:5px solid #fff; margin-top:5px;}
.content_video>ul>li>a>span{display:block; width:auto; min-width:352px; height:60px; margin-top:18px; background-color:#fff; 
						   line-height:60px; font-size:16px; text-indent:30px; float:right;}

.content_video>ul>li>a>div>img{width:100%; height:100%;}
.content_video>ul>li>a:active{background-color:#666;}
.content_video>ul>li>a:active>div{border-color:#fff;}

.content_video>ul>li>a:focus{background-color:#666;}
.content_video>ul>li>a:focus>div{border-color:#fff;}
.content_video>ul>li>a:focus span{color:#333; font-weight: bold;}

.play{width:80px; height:80px; background-color:transparent; position:absolute; top:50%; margin-top:-40px; left:50%; margin-left:-50px;}
.play i{font-size:80px; color:rgba(101,101,101,0.6)}

/*.photo*/
.photo{width:20%; height:100%; background-color:rgba(102,102,102,0.8); box-sizing:border-box;}
.photo>ul{width:720px; height:500px; margin-left:10px;}
.photo>ul>li{width:200px; height:200px; float:left; margin-top:100px; margin-right:50px; overflow:hidden;}
.photo>ul>li:nth-child(3n+3){margin-right:0;}
.photo>ul>li>a{display:block; width:100%; height:100%; position:relative;}
.photo>ul>li>a:before{content:" "; width:100%; height:100%;  background-color:transparent; position:absolute; z-index:100; top:0; left:0;}
.photo>ul>li>a:hover:before{background-color:rgba(102,102,102,0.8);}
.photo>ul>li>a:after{content:"\f002"; font-family: fontAWesome; font-size:3rem; font-weight:bold; color:transparent; text-align:center;  
line-height:200px; width:100%; height:100%; position:absolute; top:0; left:0; z-index:100;  transition:all 300ms ease;}
.photo>ul>li>a:hover:after{color:#fff;}
.photo>ul>li>a>img{max-width:100%; height:200px;}

.photo>.more_show{width:200px; height:26px; margin-top:260px; margin-left:50px;}
.photo>.more_show>a{width:100%; height:100%; font-size:24px; font-weight:bold; color:#fff; line-height:26px;}
.photo>.more_show>a:after{content:">"; width:100%; height:100%; font-size:1.5rem; font-weight:bold; color:#fff; margin-left:10px; line-height:1.5rem;}


/*.news*/
.news{width:20%; background-color:rgba(0,118,149,0.9);}
.news>ul{width:650px; height:650px; margin-top: 90px; margin-left:10px;}
.news>ul>li{width:300px; height:300px; background-color:#fff; float:left; font-size:24px; text-align:center; line-height:300px;}
.news>ul>li:nth-child(2){margin-left:50px; margin-bottom:50px;}
.news>ul>li:nth-child(4){margin-left:50px;}
.news>.more_show{width:200px; height:26px; margin-top:30px; margin-left:50px;}
.news>.more_show>a{width:100%; height:100%; font-size:24px; font-weight:bold; color:#fff; line-height:26px;}
.news>.more_show>a:after{content:">"; width:100%; height:100%; font-size:1.5rem; color:#fff; margin-left:10px; line-height:1.5rem;}

/*.margazine*/
.magazine{width:20%; background-color:rgba(102,102,102,0.8);}
.magazine_img{width:643px; height:463px; margin-top:65px; margin-left:10px;}
.magazine_img>a{display:block; width:305px; height:305px; float:left;}
.magazine_img>a>img{width:100%; height:100%;}
.magazine_name{width:257px; height:100%; background-color:#fff; float:right; padding-top:30px; padding-left:25px; box-sizing:border-box;}
.magazine_name>span{display:inline-block; font-size:24px; color:#666;}
.magazine_name>span:nth-child(1){margin-top:10px;}
.magazine_info{width:612px; height:181px; background-color:#fff; margin-left:41px; padding-top:40px; box-sizing:border-box;}
.magazine_info>ul{width:197px; height:90px; margin-left:50px;}
.magazine_info>ul>li{width:220px; height:16px; font-size:0.875rem; color:#666; margin-bottom:15px;}
.magazine>.more_show{width:200px; height:26px; margin-top:50px; margin-left:50px;}
.magazine>.more_show>a{width:100%; height:100%; font-size:24px; font-weight:bold; color:#fff; line-height:26px;}
.magazine>.more_show>a:after{content:">"; width:100%; height:100%; font-size:1.5rem; color:#fff; margin-left:10px; line-height:1.5rem;}

/*.special_content*/
.special_content{width:20%; background-color:#662d8d;}.news>ul{width:650px; height:650px; margin-top: 90px; margin-left:10px; position:relative;}
.special_content>ul{width:650px; height:650px; margin-top: 90px; margin-left:10px; float:left;}
.special_content>ul>li{width:300px; height:300px; background-color:#fff; float:left; font-size:24px; text-align:center; line-height:300px;}
.special_content>ul>li:nth-child(2){margin-left:50px; margin-bottom:50px;}
.special_content>ul>li:nth-child(4){margin-left:50px;}
.special_content>.more_show{width:200px; height:26px; margin-top:30px; margin-left:50px;}
.special_content>.more_show>a{width:100%; height:100%; font-size:24px; font-weight:bold; color:#fff; line-height:26px;}
.special_content>.more_show>a:after{content:">"; width:100%; height:100%; font-size:1.5rem; color:#fff; margin-left:10px; line-height:1.5rem;}

.sns_box{width:59px; height:277px; float:right; margin-right:10px;}
.sns_box>ul{width:100%; height:100%;}
.sns_box>ul>li{width:59px; height:59px; background-color:#fff; border-radius:100%; margin-bottom:50px;padding:10px; box-sizing:border-box;}
.sns_box>ul>li>a{width:35px; height:35px;}
.sns_box>ul>li>a>img{width:100%; height:100%;}

.scroll{width:54px; height:54px; color:rgba(101,101,101,0.6); position:absolute; z-index:300; top:50%; margin-top:-27px; right:0; background:transparent; animation:scroll 3s infinite;}

@keyframes scroll{
	0%{transform:rotate(0);}
	100%{transform:rotate(360deg);}
}
.scroll>a>img{width:100%; height:100%;}

#check_box{width:100%; height:380px; background-color:#4dc; margin-bottom:200px; position:relative;}
#check_box div{width:380px; height:100%; float:left; position:relative;}
#check_box div:hover
			 :focus{cursor:pointer;}
#check_box div>a{display:block; width:100%; height:100%;}
#check_box div>a>ul{width:180px; height:165px; position:absolute; top:50%; margin-top:-100px; left:50%; margin-left:-82.5px;}
#check_box div>a>ul>li{font-size:24px; color:#fff; font-weight:bold; text-align:center;}
/*#checkBox li{word-spacing:20px;}*/
#check_box div>a>ul>li:last-child{width:50px; height:50px; border-radius:100%; border:4px solid transparent;}
#check_box div>a>ul>li:last-child:hover{width:50px; height:50px; border-radius:100%; border:4px solid #fff;} 
#check_box div>a>ul>li:last-child>i{font-size:30px;}
#check_box li i{font-size: 0.1rem; margin:0.8rem; line-height:80%;}

.issue>a>ul>li:last-child{margin-top:-10px; margin-left:-90px;}
.people>a>ul>li:last-child{margin-top:-10px; margin-left:200px;}

#foot_box{width:100%; height:247px; background-color:#666; padding-top:40px; box-sizing:border-box; position:relative;
}

.foot_nav{width: 100%; height: 20px; background-color:inherit;}
.foot_nav>ul{width: 100%; height: 100%; margin-left:50px;}
.foot_nav>ul>li{float:left; padding: 0.3rem 1rem; position:relative;}
.foot_nav>ul>li:last-child:after{display: none;}
.foot_nav>ul>li:after{content:" "; display:inline-block; position: absolute; top:20%; right:-1px; height:60%; border-right:2px solid  #aaa;}
.foot_nav>ul>li>a{font-size: 1rem; color:#fff;}
.info{width:100%; height:60px; margin-left:55px;}
.domicile{width:100%; height:20px; margin-top:10px; margin-left:1rem;}
.domicile span{font-size:16px; color:#fff; text-align:left; margin-right:18px;}
.domicile span:nth-child(1){margin-left:-5px;}
.info>dl{width:auto; min-width:110px; float:left; height:18px; color:#fff; margin-left:10px; margin-right:30px;}
.info>dl>dt{width:25px; height:100%; float:left; margin-right:10px;}
.info>dl>dd{width:121px; height:100%; float:left;}
#foot_box>p{width:292px; height:20px; color:#fff; position:absolute; bottom:0; margin-left:50px;}
.ksa_sns{width:180px; height:50px; float:right; margin-right:20px; margin-top:40px;}
.ksa_sns>li{width:50px; height:50px; float:left; background: transparent; margin-right:10px;}
.ksa_sns>li>a{width:100%; height:100%; display:inline-block;}

