/*service_lesson.css*/

/*#service*/
#service{width:960px; height:auto; margin:auto;}

/*ski_Nav(header)*/
#nav{width:200px; height:100%; position:fixed; z-index:1000; text-indent: 0.5rem; background-color:#fff;}
h1{width:100%; height:200px;margin-left:-10px;}
#nav>ul{width:100%; height:auto; margin-top:50px;}
#nav>ul>li{width:100%; height:auto; margin-bottom:50px; box-sizing: border-box; padding-bottom: 0.2rem;}
#nav>ul>li:last-child{margin-bottom: 0;}
#nav>ul>li.active{border-bottom: 2px solid  #007695;}
#nav>ul>li>a{display: block; width:100%; height:100%; color:#007695;  font-size:26px;}
#nav>ul>li>a:active{font-weight:bold;}

/*tabMenu*/
.guide_nar{width:760px; height:70%; min-height:800px;position:absolute; top:0; left:100%; z-index:1500; display: none;}
.guide_nar.active{ display: block;}
.guide_nar>div{width:760px; height:100%; box-sizing:border-box; border:3px solid #fff; display: none;}
.guide_nar>div.active{display: block;}
.guide_nar>div>ul{width:300px; height:400px; margin-top:190px; margin-left:50px;}
.guide_nar>div>ul>li{width:100%; height:32px;  margin-bottom:50px; }
.guide_nar>div>ul>li>a{font-size:28px; color:#fff; font-weight:bold;}
.guide_nar>div>ul>li:last-child{margin-bottom:0;}
.guide_nar>div>ul>li>a:focus{border:2px solid #fff;}
.office{background-color:rgba(102,45,140,0.9); display:block;}
.snow_sport{background-color:rgba(0,118,148,0.9);}
.media_content{background-color:rgba(102,45,140,0.9);}
.serivce{background-color:rgba(0,118,148,0.9);}
.sport{background-color:rgba(0,118,148,0.9);}
.player{background-color:rgba(102,45,140,0.9);}

.wrap{width:760px; height:auto; float:right;}

.lnb_sub{width:100%; height:174px; position:relative; padding-top:50px; box-sizing:border-box;}
.lnb_sub{width:100%; height:169px; padding-top:50px; box-sizing:border-box; position:relative;}
.lnb_sub>p{width:351px; height:20px; font-size:1.25rem; border-bottom:1px solid #666; float: right; text-align: right; padding-right: 1rem;}
.lnb_sub>ul{width:731px; height:50px;margin-left:10px; float: left; margin-top: 2rem;}
.lnb_sub>ul>li{width:90px; height:100%; border:1px solid #00f; float:left; margin-right:30px; position: relative;}
.lnb_sub>ul>li:hover{cursor:pointer;}
.lnb_sub>ul>li:last-child{margin-right:0;}
.lnb_sub>ul>li:last-child:after{display:none;}
.lnb_sub>ul>li:after{content:"\f054"; font-size:14px; font-family:fontAwesome; color:#666;
              position:absolute; top:50%; margin-top: -7px; right:-30%; z-index:100;}
.lnb_sub>ul>li>button{width:100%; height:100%; background-color:transparent; font-size:14px; color:#666; line-height:50px; text-align:center;}
.lnb_sub>ul>li>button:active{background-color:#00f; color: #fff; font-weight: bold}

#content_box{width:100%; height:497px; position:relative; margin-top:200px;}
.tablet{width: 487px; height:487px; position:relative; bottom:1rem; left:70%; margin-left:-300px;}
.tablet>img{width:100%; height:100%; background-color:transparent;}
.service_btn{width:714px; position:absolute; top:50%; margin-top:-20px; right:0; margin-right:40px; z-index:200;}
.service_btn>button{width:40px; height:40px; background-color:transparent; font-size:40px; color:#007694;}
.service_btn>button:focus{border:1px solid #666;}
.service_btn>button:active{background-color: #00f; color: #fff; font-weight:bold;}
.rbtn{float:right;}
.rbtn{width:float:right;}
.service{width:282px; height: 383px; overflow:hidden; position:absolute; top:50%; margin-top:-210.5px; left:50%;  margin-left:-71px;}
.service>ul{width:600%; height:100%; float:left;}
.service>ul>li{width:20%; height:100%;}
.service>ul>li>a{ display:block; width:100%; height:100%; background-color:#fff;}
.service>ul>li>a>img{max-width:100%; height:auto;}

#content_box>p{position:absolute; color:#666;}
#content_box>p:nth-of-type(1){width:108px;  height:26px; font-size:24px; font-weight:bold; color:#007694; top:50%; margin-top:-13px; left: 15%;}
#content_box>p:nth-of-type(2){width:208px; height:18px; font-size:16px; font-weight:bold; top:60%; left:5%;}
#content_box>p:nth-of-type(3){width:189px; height:83px; font-size:14px; text-align:right; top:70%; left:5%;}

/*#footBox*/
#foot_box{width:100%; height:247px; background-color:#666; position:relative; padding-top:50px; box-sizing:border-box;}
.foot_nav{width: 100%; height: 20px; background-color:inherit;}
.foot_nav>ul{width: 100%; height: 100%; margin-left:50px;}
.foot_nav>ul>li{float:left; padding: 0.3rem 1rem; position:relative;}
.foot_nav>ul>li:last-child:after{display: none;}
.foot_nav>ul>li:after{content:" "; display:inline-block; position: absolute; top:20%; right:-1px; height:60%; border-right:2px solid  #aaa;}
.foot_nav>ul>li>a{font-size: 1rem; color:#fff;}

.info{width:100%; height:60px; margin-left:55px;}
.domicile{width:100%; height:20px; margin-top:10px; margin-left:1rem;}
.domicile span{font-size:16px; color:#fff; text-align:left; margin-right:18px;}
.domicile span:nth-child(1){margin-left:-5px;}
.info>dl{width:auto; min-width:110px; float:left; height:18px; color:#fff; margin-left:10px; margin-right:30px;}
.info>dl>dt{width:25px; height:100%; float:left; margin-right:10px;}
.info>dl>dd{width:121px; height:100%; float:right;}

#foot_box>p{width:292px; height:20px; color:#fff; position:absolute; bottom:0; margin-left:50px;}
.ksa_sns{width:180px; height:50px; float:right; margin-right:20px; margin-top:40px;}
.ksa_sns>li{width:50px; height:50px; float:left; background: transparent; margin-right:10px;}
.ksa_sns>li>a{width:100%; height:100%; display:inline-block;}



