/*snow_sport_alpine_css*/

/*#snow*/
#snow{width:960px; height:auto; margin:auto;}

/*head_box*/
#head_box{width:200px; height:100%; position:fixed; z-index:1000; text-indent: 0.5rem; background-color:#fff;}
h1{width:100%; height:200px;margin-left:-10px;}
#nav{width:200px; height:100%; position:fixed; z-index:1000; text-indent: 0.5rem; background-color:#fff;}
h1{width:100%; height:200px;margin-left:-10px;}
#head_box>ul{width:100%; height:auto; margin-top:50px;}
#head_box>ul>li{width:100%; height:auto; margin-bottom:50px; box-sizing: border-box; padding-bottom: 0.2rem;}
#head_box>ul>li:last-child{margin-bottom: 0;}
#head_box>ul>li.active{border-bottom: 2px solid  #007695;}
#head_box>ul>li>a{display: block; width:100%; height:100%; color:#007695;  font-size:26px;}
#head_box>ul>li>a:active{font-weight:bold;}

/*tabMenu*/
.guide_nar{width:760px; height:70%; min-height:800px;position:absolute; top:0; left:100%; z-index:1500; display: none;}
.guide_nar.active{ display: block;}
.guide_nar>div{width:760px; height:100%; box-sizing:border-box; border:3px solid #fff; display: none;}
.guide_nar>div.active{display: block;}
.guide_nar>div>ul{width:300px; height:400px; margin-top:190px; margin-left:50px;}
.guide_nar>div>ul>li{width:100%; height:32px;  margin-bottom:50px; }
.guide_nar>div>ul>li>a{font-size:28px; color:#fff; font-weight:bold;}
.guide_nar>div>ul>li:last-child{margin-bottom:0;}
.guide_nar>div>ul>li>a:focus{border:2px solid #fff;}
.office{background-color:rgba(102,45,140,0.9); display:block;}
.snow_sport{background-color:rgba(0,118,148,0.9);}
.media_content{background-color:rgba(102,45,140,0.9);}
.serivce{background-color:rgba(0,118,148,0.9);}
.sport{background-color:rgba(0,118,148,0.9);}
.player{background-color:rgba(102,45,140,0.9);}
/*tabMenu*/
.guide_nar{width:760px; height:70%; min-height:800px;position:absolute; top:0; left:100%; z-index:1500; display: none;}
.guide_nar.active{ display: block;}
.guide_nar>div{width:760px; height:100%; box-sizing:border-box; border:3px solid #fff; display: none;}
.guide_nar>div.active{display: block;}
.guide_nar>div>ul{width:300px; height:400px; margin-top:190px; margin-left:50px;}
.guide_nar>div>ul>li{width:100%; height:32px;  margin-bottom:50px; }
.guide_nar>div>ul>li>a{font-size:28px; color:#fff; font-weight:bold;}
.guide_nar>div>ul>li:last-child{margin-bottom:0;}
.guide_nar>div>ul>li>a:focus{border:2px solid #fff;}
.office{background-color:rgba(102,45,140,0.9); display:block;}
.snow_sport{background-color:rgba(0,118,148,0.9);}
.media_content{background-color:rgba(102,45,140,0.9);}
.serivce{background-color:rgba(0,118,148,0.9);}
.sport{background-color:rgba(0,118,148,0.9);}
.player{background-color:rgba(102,45,140,0.9);}


/*wrap*/
.wrap{width:760px; height:auto; float:right;}	
.background_01{width:47.5rem; height:auto; overflow:hidden; position:fixed; z-index:-100;}
.background_01>img{width:100%;}

/*#sub_box*/
#sub_box{width:100%; height:1034px; margin-top:200px; position:relative;  z-index:200;}
/*장비,규정&주요기술, 스포츠별 종목종류*/
.intro{width:100%; height:172px; background-color:rgba(0,118,148,0.9);  padding-top:18px; box-sizing:border-box;}
.intro>h3{width:140px; height:30px; font-size:28px; color:#fff; margin-left:290px;}
.basic{width:100%; height:26px; margin-top:30px;}
.basic>li{width:auto; min-width:48px; height:26px; float:left; margin-right:50px;}
.basic>li:first-child{margin-left:200px;}
.basic>li>button{width:100%; height:100%; background:transparent; font-size:1.5rem;  font-weight:bold; color:#fff;}
.basic>li>button:hover{cursor:pointer;}
.basic>li>button:active,
.basic>li>button:focus{border:1px solid #fff;}
.basic>li>button:visuted{border-bottom:1px solid #fff;}


.sport_theme{width:100%; height:26px; margin-top:36px;}
.sport_theme>li{width:auto; min-width:48px; height:100%; float:left; margin-right:50px;}
.sport_theme>li:first-child{margin-left:200px;}
.sport_theme>li:last-child{margin-right:0;}

.sport_theme>li>button{width:100%; height:100%; background:transparent;  font-size:1.5rem;  color:#fff;}
.sport_theme>li>button:hover{cursor:pointer;}
.sport_theme>li>button:active,
.sport_theme>li>button:focus{border:1px solid #fff;}
.sport_theme>li>button:visited{border-bottom:1px solid #fff;}


.tools{width:100%; height:582px; background-color:#fff; padding-top:50px; box-sizing:border-box;}
.tools>h3{width:50px; height:24px; font-size:26px;  color:#666; margin-left:50px; margin-bottom:50px;}
.tools>img{width:100%;}
.caption{width:600px; height:98px; margin-left:50px;}
.caption>span{ display:inline-block; font-size:18px; color:#666; margin-bottom:10px;}

/*#rule_skill*/
#rule_skill{width:100%; height:940px; background-color:#fff;padding-top:50px; box-sizing:border-box;}
#rule_skill>h3{width:200px; height:24px; font-size:26px;  color:#666; margin-top:50px; margin-left:50px; margin-bottom:50px;}
.preview_rule{width:100%; height:492px; background-color:#666;}
.preview{display:none; width:716px; height:431px; margin:0 26px; padding-top:30px; box-sizing:border-box;}
.preview>img{width:70%; height:100%; float:left;}
.rules_cap{width:30%; height:100%;  background-color:#fff; overflow-y:scroll; padding:20px; box-sizing:border-box; float:right;}
.rules_cap:hover{cursor:pointer;}
.rules_cap>dt{width:100px; height:22px; font-size:20px; font-weight:500;}
.rules_cap>dd{width:100%; height:auto; margin-top:30px;}


.preview02{display:none;width:716px; height:460px; margin:0 26px; padding-top:30px; box-sizing:border-box;}
.preview02>img{width:70%; height:100%; float:left;}
.skills_cap{width:30%; height:100%;  background-color:#fff; overflow-y:scroll; padding:20px; box-sizing:border-box; float:right;}
.skills_cap:hover{cursor:pointer;}
.skills_cap>dt{width:100px; height:22px; font-size:20px; font-weight:500;}
.skills_cap>dd{width:100%; height:auto; margin-top:30px;}

.preview03{/*display:none;*/width:716px; height:431px; border:1px solid #666; margin:0 26px; padding-top:30px; box-sizing:border-box;}
.preview03>img{width:100%; height:95%; float:left;}
.preview03>p{width:100%; height:5%; background-color:#fff;  font-size:1rem;color:#666; margin-top:380px;margin-right:20px;}
.preview03>p>a{display:inline-block; font-size:1rem; color:#666; text-indent:20px;}

.icon{width:600px; height:160px; float:right;  margin-top:30px;}
.icon>ul{width:100%; height:100%;}
.icon>ul>li{width:120px; height:100%; float:left; margin-right:100px;}
.icon>ul>li:last-child{margin-right:0;}
.icon>ul>li>button{width:120px; height:120px; background:transparent;}
.icon>ul>li>button:hover{cursor:pointer;}
.icon>ul>li>button:focus{border:1px solid #666;}
.icon>ul>li>button>img{width:100%;}
.icon>ul>li>button:nth-child(2){margin-left:50px; margin-right:50px;}
.icon>ul>li>p{display:none; width:120px; margin-top:20px;  font-size:1.125rem; color:#666; text-align:center;}
/*#kind*/
#kind{width:100%; height:auto; background-color:#fff;}
.background02{width:100%; height:32.5625rem; background-image:url(../../../img/ski_jump/ski_jump_background02.jpg); background-attachment:fixed; background-repeat:no-repeat;  background-size:100%; background-position:top;}

#kind>h3{width:50px; height:26px; font-size:1.5rem; color:#666; font-weight:bold; margin-top:50px; margin-bottom:50px;}

.ski_jump{width:600px; height:450px; margin-left:100px; margin-bottom:50px;}
.ski_jump>img{width:100%; height:60%; margin-top:5px;}
.ski_jump>p{width:688px; height:auto; font-size:1rem; color:#666; margin-top:10px;}

.type{width:100%; height:auto;}
.type>dl{width:100%; height:auto;}
.type>dl>dt{width:757px; height:50px; background-color:#007695; border:3px solid #fff;}
.type>dl>dt:focus{border:3px solid #666}
.type>dl>dt>p{width:200px; height:100%; float:left; font-size:26px; color:#fff; text-indent:50px; line-height:50px;}
.type>dl>dt>button{width:30px; height:30px; background:transparent; float:right; margin-top:10px; margin-right:50px;}
.type>dl>dt>button:hover{cursor:pointer;}
.type>dl>dt>button>img{width:100%;}

.type>dl>dd{display:none; width:100%; height:574px; position:relative;}
.inner{width:100%; height:500px; background-color:rgba(102,102,102,0.8); padding-top:26px; box-sizing:border-box;}
.inner>h3{width:auto; min-width:52px; height:28px; font-size:26px; color:#fff;  margin-left:50px; margin-bottom:26px; float:left;}
.inner>a{display:block; width:270px; height:270px; position:relative; margin-top:54px; margin-left:50px; margin-right:50px;}
.inner>a:before{content:" "; width: 100%; height: 100%; display:block; position:absolute; background-color:transparent; top:0; left:0; z-index:100; transition:all 300ms ease;}
.inner>a:hover:before{background-color:rgba(102,102,102,0.9);}
.inner>a:after{content:"\f002"; font-family: fontAwesome; position:absolute; width:100%; height:100%; font-size:3rem; color:transparent; text-align:center; line-height:270px; z-index:100; top:0; left:0; transition:all 300ms ease;}
.inner>a:hover:after{color:#fff;}
.inner>a>img{width:100%; height:100%;}

.type_caption{width:376px; height:270px; background-color:#fff; overflow-y: scroll;  position:absolute; top:14%; left:50%; padding:20px; box-sizing:border-box;}
.type_caption>p{width:auto; min-width:344px; height:auto; min-height:20px; font-size:1rem; color:#666; margin-bottom:10px;}
.author{width:100%; height:74px; background-color:#007695; position:absolute; bottom:0; padding-top:20px; padding-left:50px; box-sizing:border-box;}
.author>a{display:block; width:96px; height:30px; color:#fff; float:left;}
.author>a>img{width:18px; height:18px; margin-top:10px; margin-left:10px;}

/*#foot_box*/

#foot_box{width:100%; height:247px; background-color:#666; padding-top:40px; box-sizing:border-box; position:relative;
}

.foot_nav{width: 100%; height: 20px; background-color:inherit;}
.foot_nav>ul{width: 100%; height: 100%; margin-left:50px;}
.foot_nav>ul>li{float:left; padding: 0.3rem 1rem; position:relative;}
.foot_nav>ul>li:last-child:after{display: none;}
.foot_nav>ul>li:after{content:" "; display:inline-block; position: absolute; top:20%; right:-1px; height:60%; border-right:2px solid  #aaa;}
.foot_nav>ul>li>a{font-size: 1rem; color:#fff;}
.info{width:100%; height:60px; margin-left:55px;}
.domicile{width:100%; height:20px; margin-top:10px; margin-left:1rem;}
.domicile span{font-size:16px; color:#fff; text-align:left; margin-right:18px;}
.domicile span:nth-child(1){margin-left:-5px;}
.info>dl{width:auto; min-width:110px; float:left; height:18px; color:#fff; margin-left:10px; margin-right:30px;}
.info>dl>dt{width:25px; height:100%; float:left; margin-right:10px;}
.info>dl>dd{width:121px; height:100%; float:left;}

#foot_box>p{width:292px; height:20px; color:#fff; position:absolute; bottom:0; margin-left:50px;}
.ksa_sns{width:180px; height:50px; float:right; margin-right:20px; margin-top:40px;}
.ksa_sns>li{width:50px; height:50px; float:left; background: transparent; margin-right:10px;}
.ksa_sns>li>a{width:100%; height:100%; display:inline-block;}

